<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrencyList</key>
	<array>
		<dict>
			<key>code</key>
			<string>AUD</string>
			<key>name</key>
			<string>オーストラリアドル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>KRW</string>
			<key>name</key>
			<string>韓国ウォン</string>
		</dict>
		<dict>
			<key>code</key>
			<string>JPY</string>
			<key>name</key>
			<string>日本円</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CNY</string>
			<key>name</key>
			<string>人民元</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ILS</string>
			<key>name</key>
			<string>新シュケル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>HKD</string>
			<key>name</key>
			<string>香港ドル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RUB</string>
			<key>name</key>
			<string>ロシアルーブル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BRL</string>
			<key>name</key>
			<string>レアル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>EUR</string>
			<key>name</key>
			<string>ユーロ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>JOD</string>
			<key>name</key>
			<string>ヨルダン・ディナール</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MAD</string>
			<key>name</key>
			<string>モロッコディルハム</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UKP</string>
			<key>name</key>
			<string>ポンド</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BOB</string>
			<key>name</key>
			<string>ボリビアーノ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PHP</string>
			<key>cname</key>
			<string>フィリピンペソ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>PEN</string>
			<key>name</key>
			<string>ヌエボ・ソル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>NZD</string>
			<key>name</key>
			<string>ニュージーランドドル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>TRL</string>
			<key>name</key>
			<string>トルコリラ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>THB</string>
			<key>name</key>
			<string>タイバーツ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CHF</string>
			<key>name</key>
			<string>スイス・フラン</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CAD</string>
			<key>name</key>
			<string>カナダドル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>EGP</string>
			<key>name</key>
			<string>エジプト・ポンド</string>
		</dict>
		<dict>
			<key>code</key>
			<string>USD</string>
			<key>name</key>
			<string>アメリカドル</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ARS</string>
			<key>name</key>
			<string>アルゼンチンペソ</string>
		</dict>
		<dict>
			<key>code</key>
			<string>INR</string>
			<key>name</key>
			<string>インド・ルピー</string>
		</dict>
	</array>
</dict>
</plist>
