<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrefectureList</key>
	<array>
		<dict>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム２</string>
				<string>イブ２</string>
				<string>ポセイドン２</string>
				<string>ガブリエル２</string>
				<string>ムハンマド２</string>
				<string>フェニックス２</string>
			</array>
			<key>No</key>
			<integer>2</integer>
			<key>Name</key>
			<string>青森</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム３</string>
				<string>イブ３</string>
				<string>ポセイドン３</string>
				<string>ガブリエル</string>
				<string>ムハンマド３</string>
				<string>フェニックス３</string>
			</array>
			<key>No</key>
			<integer>3</integer>
			<key>Name</key>
			<string>岩手</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム４</string>
				<string>イブ４</string>
				<string>ポセイドン４</string>
				<string>ガブリエル４</string>
				<string>ムハンマド４</string>
				<string>フェニックス４</string>
			</array>
			<key>No</key>
			<integer>4</integer>
			<key>Name</key>
			<string>宮城</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム５</string>
				<string>イブ５</string>
				<string>ポセイドン５</string>
				<string>ガブリエル５</string>
				<string>ムハンマド５</string>
				<string>フェニックス５</string>
			</array>
			<key>No</key>
			<integer>5</integer>
			<key>Name</key>
			<string>秋田</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム６</string>
				<string>イブ６</string>
				<string>ポセイドン６</string>
				<string>ガブリエル６</string>
				<string>ムハンマド６</string>
				<string>フェニックス６</string>
			</array>
			<key>No</key>
			<integer>6</integer>
			<key>Name</key>
			<string>山形</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム７</string>
				<string>イブ７</string>
				<string>ポセイドン7</string>
				<string>ガブリエル７</string>
				<string>ムハンマド７</string>
				<string>フェニックス７</string>
			</array>
			<key>No</key>
			<integer>7</integer>
			<key>Name</key>
			<string>福島</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム７</string>
				<string>イブ７</string>
				<string>ポセイドン７</string>
				<string>ガブリエル７</string>
				<string>ムハンマド７</string>
				<string>フェニックス７</string>
			</array>
			<key>No</key>
			<integer>8</integer>
			<key>Name</key>
			<string>茨城</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>9</integer>
			<key>Name</key>
			<string>栃木</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>10</integer>
			<key>Name</key>
			<string>群馬</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>埼玉</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>アダム</string>
				<string>イブ</string>
				<string>ポセイドン</string>
				<string>ガブリエル</string>
				<string>ムハンマド</string>
				<string>フェニックス</string>
			</array>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
	</array>
</dict>
</plist>
